
<mat-card>
  <mat-grid-list cols="3" rowHeight="24px">
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="tile-center card-header">
        <mat-card-header class="centered-card-header">
          <mat-card-title>Prosperity</mat-card-title>
        </mat-card-header>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="tile-center card-header">
        <mat-card-header class="centered-card-header">
          <mat-card-title>Shop Items</mat-card-title>
        </mat-card-header>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="54px">
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="tile-center">
        <mat-card-content>
          <button mat-fab disableRipple="true" color="accent" class="accent-light rep-size">
            {{prosperityLevel}}
          </button>
        </mat-card-content>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="tile-center">
        <mat-icon class="rep-modifier">arrow_forward</mat-icon>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="tile-center">
        <mat-chip-list>
          <mat-chip class="items" selected="true" removable="false">001{{itemLevels[prosperityLevel - 1]}}</mat-chip>
        </mat-chip-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="20px">
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="9" [rowHeight]="nextProsperityCounter.length > 0 ? '34px' : '68px'">
    <mat-grid-tile colspan="1" [rowspan]="nextProsperityCounter.length > 0 ? 2 : 1">
      <div *ngIf="prosperityLevel < 9 && this.service.game['prosperity'] > prosperityMilestones[this.prosperityLevel - 1]"
           class="tile-center prosperity-counter">
        <button class="arrow-size arrow-left" mat-icon-button (click)="changeProsperity(-1)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="1">
      <div class="tile-center prosperity-counter">
        <button *ngFor="let item of prosperityCounter; let i = index; let last = last"
                mat-mini-fab disableRipple="true" color="primary" disabled
                class="donation-counter"
                [ngClass]="prosperityCounterClasses(i, item, last)">
          <mat-icon *ngIf="last">plus_one</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" [rowspan]="nextProsperityCounter.length > 0 ? 2 : 1">
      <div *ngIf="prosperityLevel < 9" class="tile-center prosperity-counter">
        <button class="arrow-size arrow-right" mat-icon-button (click)="changeProsperity(1)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="nextProsperityCounter.length > 0" colspan="7" rowspan="1">
      <div class="tile-center prosperity-counter">
        <button *ngFor="let item of nextProsperityCounter; let i = index; let last = last"
                mat-mini-fab disableRipple="true" color="primary" disabled
                class="donation-counter counter-inactive counter-sm">
          <mat-icon *ngIf="last">plus_one</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-card class="top-margin">
  <mat-grid-list cols="9" rowHeight="54px">
    <mat-grid-tile colspan="5" rowspan="1">
      <div class="tile-center card-header">
        <mat-card-header>
          <mat-card-title>Great Oak Donations</mat-card-title>
        </mat-card-header>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div class="tile-center">
        <button mat-fab disableRipple="true" color="primary" class="rep-size">
          {{service.game.donations}}
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div *ngIf="service.game.donations < 1000" class="tile-center prosperity-counter">
        <button class="arrow-size arrow-right" mat-icon-button (click)="donateToGreatOak(10)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="20px">
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="9" [rowHeight]="nextDonationsCounter.length > 0 ? '34px' : '68px'">
    <mat-grid-tile colspan="1" [rowspan]="nextDonationsCounter.length > 0 ? 2 : 1"></mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="1">
      <div class="tile-center prosperity-counter">
        <button *ngFor="let item of donationsCounter; let i = index; let last = last"
                mat-mini-fab disableRipple="true" color="primary" disabled
                class="donation-counter"
                [ngClass]="donationsCounterClasses(i, item, last)">
          <mat-icon *ngIf="last">plus_one</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" [rowspan]="nextDonationsCounter.length > 0 ? 2 : 1"></mat-grid-tile>
    <mat-grid-tile *ngIf="nextDonationsCounter.length > 0" colspan="7" rowspan="1">
      <div class="tile-center prosperity-counter">
        <button *ngFor="let item of nextDonationsCounter; let i = index; let last = last"
                mat-mini-fab disableRipple="true" color="primary" disabled
                class="donation-counter counter-inactive counter-sm">
          <mat-icon *ngIf="last">plus_one</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-card class="top-margin">
  <mat-grid-list cols="9" rowHeight="54px">
    <mat-grid-tile colspan="3" rowspan="1">
      <div class="tile-center card-header">
        <mat-card-header>
          <mat-card-title>Reputation</mat-card-title>
        </mat-card-header>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div *ngIf="this.service.game['reputation'] > -20" class="tile-center">
        <button class="arrow-size rep-left" mat-icon-button (click)="changeReputation(-1)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div class="tile-center">
        <button mat-fab disableRipple="true" color="accent" class="accent-light rep-size">
          {{service.game.reputation}}
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div *ngIf="this.service.game['reputation'] < 20" class="tile-center">
        <button class="arrow-size rep-right" mat-icon-button (click)="changeReputation(1)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
  <mat-grid-list cols="3" rowHeight="54px">
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="tile-center card-header">
        <mat-card-header>
          <mat-card-title>Shop Modifier</mat-card-title>
        </mat-card-header>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div class="tile-center">
        <button mat-fab disableRipple="true" color="primary" class="rep-size modifier">
          {{shopModifier}}
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
