<mat-accordion id="global-accordion" class="achievements" displayMode="flat">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Acquired</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="36px" [ngStyle]="{'max-height.px': calcGridHeight}">
      <mat-grid-tile *ngFor="let achievement of acquiredAchievements" colspan="1" rowspan="1" class="chips">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip selected="true" [color]="achievement === 'lost' ? 'primary' : 'warn'">
            {{achievement}}
          </mat-chip>
        </mat-chip-list>
      </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="acquiredAchievements.length === 0" class="center-accordion"><span>None Acquired</span></div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Available</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="36px" [ngStyle]="{'max-height.px': calcGridHeight}">
      <mat-grid-tile *ngFor="let achievement of availableAchievements" colspan="1" rowspan="1" class="chips">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip>
            {{achievement}}
          </mat-chip>
        </mat-chip-list>
      </mat-grid-tile>
      <div *ngIf="availableAchievements.length === 0" class="center-accordion"><span>None Available</span></div>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>
