<div className="container scenarios-container">
  <div class="row">
    <div class="col-xs-12">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="row scenario-key">
    <div class="col-xs-12 col-md-4 text-center">
      <button type="button" class="btn btn-default btn-scoundrel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> Scenario successfully complete
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <button type="button" class="btn btn-default btn-doomstalker">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> Scenario unlocked
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <button type="button" class="btn btn-default btn-lightning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> Ineligible for scenario
    </div>
  </div>
  <div class="row">
    <!-- {campaignMissionColumns} -->
  </div>
  <hr />
  <div class="row">
    <!-- {personalQuestColumns} -->
  </div>
  <hr />
  <div class="row">
    <!-- {randomScenarioColumns} -->
  </div>
  <hr />
  <div class="row">
    <!-- {otherColumns} -->
  </div>
  <hr />
  <div class="row">
    <!-- {kickstarterColumns} -->
  </div>
  <hr />
  <div class="row">
    <!-- {soloColumns} -->
  </div>
</div>
