<div class="container scenarios-container">
  <div class="row">
    <div class="col-xs-12">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="row scenario-key">
    <div class="col-xs-12 col-md-4 text-center">
      <button type="button" class="btn btn-default btn-scoundrel" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> Scenario successfully complete
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <button type="button" class="btn btn-default btn-doomstalker" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> Scenario unlocked
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <button type="button" class="btn btn-default btn-lightning" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> Ineligible for scenario
    </div>
  </div>
  <div class="row">
    <div *ngFor="let scenario of campaignScenarios; let i = index" [class]="'col-md-4 col-lg-3 ' + scenario.colClass">
      <button type="button"
              [class]="'btn btn-default btn-block ' + scenario.buttonClass"
              (click)="toggleScenarioClick(i)"
        {{scenario.buttonText}}>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div *ngFor="let scenario of personalQuests; let i = index" [class]="'col-md-4 col-lg-3 ' + scenario.colClass">
      <button type="button"
              [class]="'btn btn-default btn-block ' + scenario.buttonClass"
              (click)="toggleScenarioClick(i)"
        {{scenario.buttonText}}>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div *ngFor="let scenario of randomScenarios; let i = index" [class]="'col-md-4 col-lg-3 ' + scenario.colClass">
      <button type="button"
              [class]="'btn btn-default btn-block ' + scenario.buttonClass"
              (click)="toggleScenarioClick(i)"
        {{scenario.buttonText}}>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div *ngFor="let scenario of otherScenarios; let i = index" [class]="'col-md-4 col-lg-3 ' + scenario.colClass">
      <button type="button"
              [class]="'btn btn-default btn-block ' + scenario.buttonClass"
              (click)="toggleScenarioClick(i)"
        {{scenario.buttonText}}>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div *ngFor="let scenario of kickstarterScenarios; let i = index" [class]="'col-md-4 col-lg-3 ' + scenario.colClass">
      <button type="button"
              [class]="'btn btn-default btn-block ' + scenario.buttonClass"
              (click)="toggleScenarioClick(i)"
        {{scenario.buttonText}}>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div *ngFor="let scenario of soloScenarios; let i = index" [class]="'col-md-4 col-lg-3 ' + scenario.colClass">
      <button type="button"
              [class]="'btn btn-default btn-block ' + scenario.buttonClass"
              (click)="toggleScenarioClick(i)"
        {{scenario.buttonText}}>
      </button>
    </div>
  </div>
</div>
