<mat-list>
  <div>
    <mat-list-item routerLink="/home" routerLinkActive="active-link" (click)="service.toggleSidenav()">
      <mat-icon matListIcon>home</mat-icon>
      <span class="app-sidenav-filler"></span>
      <span>Home</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div *ngFor="let item of navLinks; let last = last">
    <mat-list-item [routerLink]="item.path" routerLinkActive="active-link" (click)="service.toggleSidenav()">
      <mat-icon matListIcon class="absolute-position" [svgIcon]="item.icon"></mat-icon>
      <span class="app-sidenav-filler"></span>
      <span>{{item.name}}</span>
    </mat-list-item>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</mat-list>
