<mat-toolbar>
  <mat-toolbar-row routerLink="/home">
    <mat-icon class="example-icon">home</mat-icon>
    <span class="app-sidenav-filler"></span>
    <span>Home</span>
  </mat-toolbar-row>
  <mat-toolbar-row routerLink="/party">
    <mat-icon>people</mat-icon>
    <span class="app-sidenav-filler"></span>
    <span class="lg-font">Party</span>
  </mat-toolbar-row>
  <mat-toolbar-row routerLink="/global">
    <mat-icon class="example-icon">public</mat-icon>
    <span class="app-sidenav-filler"></span>
    <span>Global</span>
  </mat-toolbar-row>
  <mat-toolbar-row routerLink="/utilities">
    <mat-icon class="example-icon">build</mat-icon>
    <span class="app-sidenav-filler"></span>
    <span>Utilities</span>
  </mat-toolbar-row>
</mat-toolbar>
