<mat-sidenav-container class="mat-typography" fullscreen>
  <mat-sidenav mode="over" position="end" class="app-sidenav" color="primary">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [isHome]="isHome"></app-header>
    <nav *ngIf="navLinks.length > 0" mat-tab-nav-bar color="primary">
      <a *ngFor="let link of navLinks"
         mat-tab-link
         routerLinkActive #rla="routerLinkActive"
         [routerLink]="link.path"
         [active]="rla.isActive">
        <span>{{link.title}}</span>
      </a>
    </nav>
    <div class="accent-light">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
