@import '../../../assets/crimson-brown.scss';

:host {
  padding: 10px;
  display: block;
  height: calc(100vh - 137px);
}

mat-card {
  padding: 10px 16px;

  &.top-margin {
    margin-top: 10px;
  }
  &:first-of-type {
    height: calc(25.907523375vh);
  }
  &:last-of-type {
    height: calc(45.654111314vh);
  }
  & mat-card-header mat-card-title {
    color: mat-color($primary, darker);
  }
  & mat-card-content {
    position: relative;
    top: -10px;
  }
}
mat-form-field {
  width: 100%;
}
mat-table {
  position: relative;
  top: -10px;

  & mat-row {
    max-height: 49px;

    img {
      width: 42px;
      height: 42px;
      position: relative;
      top: 3px;
    }
  }
  & mat-header-cell:first-of-type(2),
  & mat-cell:first-of-type(2) {
    flex: 2;
  }
  & mat-header-cell:nth-of-type(2),
  & mat-cell:nth-of-type(2) {
    flex: 2;
  }
  & mat-header-cell:last-of-type(2),
  & mat-cell:last-of-type(2) {
    flex: 1;
  }
}
