@import 'crimson-brown.scss';

$cragheart: #cab465;
$spellweaver: #473387;
$scoundrel: #a4bb5c;
$tinkerer: #967258;
$brute: #193352;
$mindthief: #02568c;

body {
  margin: 0;
}

app-prosperity .mat-card-title {
  margin: 0;
}
mat-grid-tile {
  &.mat-grid-tile.chips .mat-figure {
    justify-content: inherit;
  }
  & .tile-center .rep-size .mat-button-wrapper {
    position: relative;
    bottom: 8px;
  }
}
mat-card.mat-card {
  padding: 10px 16px;

  & mat-card-header  mat-card-title {
    color: mat-color($primary, darker);
    margin: 0 -8px 16px;

    &.details-title {
      margin-top: 8px;
    }
  }
  & svg {
    width: calc(11vw + 11vh);
    height: calc(11vw + 11vh);;
    font-size: inherit;
    position: relative;
    left: -2px;
  }
  & mat-icon.class-icon {
    position: relative;
    top: 3px;

    & svg {
      height: 34px;
      width: 34px;
    }
  }
}
mat-chip-list .mat-chip-list-wrapper {
  height: 100%;
}
mat-list mat-icon svg {
  top: 0;
  width: 24px;
  height: 24px;
}
mat-form-field .mat-form-field-empty.mat-form-field-label {
  color: mat-color($warn, lighter, 0.8);
}
mat-accordion {
  & mat-expansion-panel .mat-expansion-panel-content.mat-expanded {
    overflow-y: auto;
  }
  & .center-accordion {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 16px;
    color: mat-color($warn, lighter);
  }
}


.primary-light {
  background-color: mat-color($primary, lighter, 0.2);
}
.primary-dark {
  background-color: mat-color($primary, darker);
}
.accent-light {
  background-color: mat-color($accent, lighter, 0.2);
}
.accent-dark {
  background-color: mat-color($accent, darker);
}
.warn-light {
  background-color: mat-color($warn, lighter, 0.2);
}
.warn-dark {
  background-color: mat-color($warn, darker);
}
.brute {
  color: $brute;
  opacity: 0.8;
  fill: currentColor;
}
.cragheart {
  color: $cragheart;
  fill: currentColor;
}
.spellweaver {
  color: $spellweaver;
  fill: currentColor;
}
.scoundrel {
  color: $scoundrel;
  fill: currentColor;
}
.tinkerer {
  color: $tinkerer;
  fill: currentColor;
}
.mindthief {
  color: $mindthief;
  fill: currentColor;
}
.app-sidenav {
  min-width: 240px;
}
.app-toolbar-filler {
  flex: 1 1 auto;
}
.prosperity-counter .donation-counter .mat-button-wrapper {
  padding: 0;
}
.centered-card-header .mat-card-header-text {
  margin: 0 auto;
}
.mat-mini-fab.prosperity-sm .mat-button-wrapper {
  padding: 0;
}
.mat-tab-nav-bar .mat-tab-links {
  display: flex;

  .mat-tab-link {
    flex: 1 1 100%;
  }
  .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: inherit;
  }
}
