.thin-toolbar {
  height: 12px !important;
}

.title {
  position: relative;
  left: 50%;
  top: -2px;
  transform: translateX(-50%);
  font-family: 'Overlock SC', cursive;
  font-size: 26px;
}

.header-menu {
  position: relative;
  top: -4px;
  right: -2.5%;

  & mat-icon {
    font-size: 30px;
  }
}
